.container {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100vh;
  .ui {
    width: 25%;
    position: relative;
    height: 100%;
    overflow-y: scroll;
    padding: 4px;
    background-color: lightgray;
  }
  #cy {
    width: 75%;
    height: 100%;
  }
  .column-form {
    display: flex;
    flex-direction: column;
  }
}

body {
  padding: 0;
  margin: 0;
}

input {
  max-width: 100%;
}
* {
  box-sizing: border-box;
}
