@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  height: 100vh;
}

.container .ui {
  padding: 10px 8px;
  width: 25%;
  position: relative;
  height: 100%;
  overflow-y: scroll;
  background-color: #222629;
  color: white;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.container .ui.minimized {
  padding: 10px 1px;
  width: 5%;
  min-width: 30px;
}

.container .ui.minimized * {
  display: none;
}

.container .ui.minimized #delete-btn {
  display: none !important;
}

.container .ui.minimized .toggler,
.container .ui.minimized .bar {
  display: block;
}

.container .ui .toggler {
  float: right;
}

.container .ui .toggler .bar {
  height: 4px;
  background-color: white;
  width: 28px;
  margin-bottom: 3px;
}

.container .ui .toggler:hover {
  cursor: pointer;
}

.container .ui.minimized + #cy {
  width: 95%;
}

.container #cy {
  width: 75%;
  height: 100%;
}

@media screen and (max-width: 576px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .container .ui,
  .container #cy {
    width: 100%;
  }
  .container .ui {
    height: 40%;
    padding: 0 8px;
  }
  .container .ui.minimized {
    height: 10%;
    min-height: 26px;
    width: 100%;
  }
  .container .ui.minimized + #cy {
    height: 90%;
    width: 100%;
  }
  .container .ui .toggler {
    position: absolute;
    top: 4px;
    right: 8px;
  }
  .container #cy {
    height: 60%;
  }
}

#auth-prompt {
  color: white;
  position: absolute;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  top: -100%;
  left: 8px;
  right: 8px;
  max-width: 400px;
  background-color: #86c232;
  border-radius: 8px;
  margin: auto;
  z-index: 99999;
  padding: 8px 24px;
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.75);
}

#auth-prompt .close-form-btn {
  position: absolute;
  top: 8px;
  right: 24px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 8px;
  padding: 4px 8px;
}

#auth-prompt .close-form-btn:hover {
  cursor: pointer;
  background-color: #61892f;
}

#auth-prompt .close-form-btn:active {
  background-color: #86c232;
}

#auth-prompt h1 {
  margin-top: 0;
}

button {
  background-color: #86c232;
  border-radius: 8px;
  border: none;
  color: white;
  padding: 4px 8px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

button.btn-flat {
  padding: 0 2px;
  border-radius: 0;
  letter-spacing: normal;
  background-color: transparent;
  color: #6b6e70;
}

button.btn-flat:hover {
  background-color: transparent;
  color: crimson;
}

button.btn-flat:active {
  background-color: transparent;
  color: #6b6e70;
}

button.btn-danger {
  background-color: crimson;
}

button.btn-danger:hover {
  background-color: #ad102f;
}

button.btn-danger:active {
  background-color: crimson;
}

button.btn-grey {
  background-color: #6b6e70;
}

button.btn-grey:hover {
  background-color: #525456;
}

button.btn-grey:active {
  background-color: #6b6e70;
}

button.btn-reverse {
  background-color: #61892f;
  border: 2px solid #61892f;
}

button.btn-reverse:hover {
  background-color: #86c232;
}

button.btn-reverse:active {
  background-color: #61892f;
}

button.btn {
  width: 100%;
}

button:hover {
  background-color: #61892f;
}

button:active {
  background-color: #86c232;
}

.horizontal-line {
  width: 100%;
  border-top: 2px solid #474b4f;
}

.horizontal-line.space-top {
  margin-top: 24px;
}

.horizontal-line.space-bot {
  margin-bottom: 24px;
}

.space-top {
  margin-top: 8px;
}

.column-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 8px;
}

.column-form .form-group {
  margin-bottom: 8px;
  width: 100%;
}

textarea,
input {
  border-radius: 8px;
  max-width: 100%;
  width: inherit;
  resize: none;
  padding: 4px;
  border: none;
}

textarea[type="checkbox"],
input[type="checkbox"] {
  width: auto;
}

textarea[type="text"].input-flat,
input[type="text"].input-flat {
  background-color: transparent;
  border-radius: 0;
  padding: 0;
  color: white;
}

button,
textarea,
input {
  outline: none;
}

body {
  padding: 0;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/*# sourceMappingURL=style.css.map */