@import url("https://fonts.googleapis.com/css?family=Poppins|Coming+Soon&display=swap");
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  height: 100vh;
}

.container .ui {
  padding: 10px 8px;
  width: 25%;
  position: relative;
  height: 100%;
  overflow-y: auto;
  background-color: #222629;
  color: white;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.container .ui.minimized {
  padding: 10px 1px;
  width: 40px;
  overflow-y: auto;
}

.container .ui.minimized * {
  display: none;
}

.container .ui.minimized #delete-btn {
  display: none !important;
}

.container .ui.minimized .toggler,
.container .ui.minimized .bar {
  display: block;
  float: none;
  margin: 0 auto;
}

.container .ui.minimized + .view-container {
  width: 95%;
}

.container .ui .toggler {
  float: right;
}

.container .ui .toggler .bar {
  height: 4px;
  background-color: white;
  width: 28px;
  margin-bottom: 3px;
}

.container .ui .toggler:hover {
  cursor: pointer;
}

.container .view-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 75%;
}

.container .view-container #cy {
  width: 100%;
  height: 100%;
}

.container .view-container #todo-view {
  display: none;
  height: 100%;
  border-left: 2px solid #6b6e70;
  padding-left: 8px;
}

.container .view-container.todo-visible #todo-view {
  display: block;
  width: 30%;
}

.container .view-container.todo-visible #cy {
  width: 70%;
}

@media screen and (max-width: 576px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .container .ui,
  .container .view-container {
    width: 100%;
  }
  .container .ui {
    height: 40%;
    padding: 0 8px;
  }
  .container .ui.minimized {
    height: 32px;
    width: 100%;
    overflow-y: auto;
  }
  .container .ui.minimized + .view-container {
    height: 90%;
    width: 100%;
  }
  .container .ui.minimized .toggler {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .ui.minimized .toggler .bar:last-child {
    margin-bottom: 0;
  }
  .container .ui .toggler {
    position: absolute;
    top: 4px;
    bottom: 4px;
    right: 8px;
  }
  .container .view-container {
    height: 60%;
  }
}

#auth-prompt {
  color: white;
  position: absolute;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  top: -100%;
  left: 8px;
  right: 8px;
  max-width: 400px;
  background-color: #86c232;
  border-radius: 8px;
  margin: auto;
  z-index: 99999;
  padding: 8px 24px;
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.75);
}

#auth-prompt h1 {
  margin-top: 0;
}

.close-form-btn {
  position: absolute;
  top: 8px;
  right: 24px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 8px;
  padding: 4px 8px;
  background-color: #86c232;
  color: white;
}

.close-form-btn:hover {
  cursor: pointer;
  background-color: #61892f;
}

.close-form-btn:active {
  background-color: #86c232;
}

button {
  background-color: #86c232;
  border-radius: 8px;
  border: none;
  color: white;
  padding: 4px 8px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

button.btn-flat {
  padding: 0 2px;
  border-radius: 0;
  letter-spacing: normal;
  background-color: transparent;
  color: #6b6e70;
}

button.btn-flat:hover {
  background-color: transparent;
  color: crimson;
}

button.btn-flat:active {
  background-color: transparent;
  color: #6b6e70;
}

button.btn-danger {
  background-color: crimson;
}

button.btn-danger:hover {
  background-color: #ad102f;
}

button.btn-danger:active {
  background-color: crimson;
}

button.btn-grey {
  background-color: #6b6e70;
}

button.btn-grey:hover {
  background-color: #525456;
}

button.btn-grey:active {
  background-color: #6b6e70;
}

button.btn-reverse {
  background-color: #61892f;
  border: 2px solid #61892f;
}

button.btn-reverse:hover {
  background-color: #86c232;
}

button.btn-reverse:active {
  background-color: #61892f;
}

button.btn {
  width: 100%;
}

button:hover {
  background-color: #61892f;
}

button:active {
  background-color: #86c232;
}

button:disabled {
  background-color: #474b4f;
}

.horizontal-line {
  width: 100%;
  border-top: 2px solid #474b4f;
}

.horizontal-line.space-top {
  margin-top: 24px;
}

.horizontal-line.space-bot {
  margin-bottom: 24px;
}

.space-top {
  margin-top: 8px;
}

.column-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 8px;
}

.column-form .form-group {
  margin-bottom: 8px;
  width: 100%;
}

.column-form.white-background .form-group {
  margin-bottom: 24px;
}

.column-form.white-background input {
  border-bottom: 1px solid #e0dfe4;
  padding: 4px 0;
  -webkit-transition: all .2s;
  transition: all .2s;
  background-color: transparent;
  border-radius: 0;
}

.column-form.white-background input:focus {
  border-bottom: 3px solid #6b6e70;
}

/* ======= Checkbox Row ======= */
.checkbox-container .checkbox-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4px;
}

.checkbox-container .checkbox-row .input-flat {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* ======= Evaluation ======= */
#eval-form-container {
  position: absolute;
  z-index: -999;
  top: -100%;
  left: 8px;
  right: 8px;
  bottom: 110%;
  padding: 8px 16px;
  background-color: white;
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.75);
  -webkit-transition: top .3s, bottom .3s;
  transition: top .3s, bottom .3s;
  border-radius: 8px;
  max-width: 600px;
  margin: auto;
  background-color: #f7f098;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#eval-form-container .container-header {
  background-color: #e0dfe4;
  margin: -8px -16px;
  padding: 8px 16px;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
}

#eval-form-container .container-header h1 {
  margin: 0;
}

#eval-form-container .container-header,
#eval-form-container .container-footer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#eval-form-container .container-body {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

#eval-form-container .container-body * {
  font-family: 'Coming Soon', cursive;
}

#eval-form-container .container-body input {
  font-size: 16px;
  font-weight: 600;
}

#eval-form-container .container-body input::-webkit-input-placeholder {
  color: #c5c7c8;
}

#eval-form-container .container-body input:-ms-input-placeholder {
  color: #c5c7c8;
}

#eval-form-container .container-body input::-ms-input-placeholder {
  color: #c5c7c8;
}

#eval-form-container .container-body input::placeholder {
  color: #c5c7c8;
}

#eval-form-container .close-form-btn {
  background-color: transparent;
  color: black;
}

#eval-form-container .close-form-btn:hover {
  background-color: #6b6e70;
  color: white;
}

#eval-form-container button {
  background-color: #ec3221;
  z-index: 80;
}

#eval-form-container button:hover, #eval-form-container button:active {
  background-color: #b11d0f;
}

#eval-form-container button:disabled {
  background-color: #474b4f;
}

#eval-form-container.show {
  top: 5%;
  bottom: 5%;
  z-index: 999;
}

#eval-form-container .survey-wrapper [id^=survey] {
  display: none;
}

#eval-form-container .survey-wrapper [id^=survey].active {
  display: block;
}

#eval-form-container .survey-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

textarea,
input,
select {
  border-radius: 8px;
  max-width: 100%;
  width: inherit;
  resize: none;
  padding: 4px;
  border: none;
}

textarea[type="checkbox"],
input[type="checkbox"],
select[type="checkbox"] {
  width: auto;
}

textarea[type="text"].input-flat,
input[type="text"].input-flat,
select[type="text"].input-flat {
  background-color: transparent;
  border-radius: 0;
  padding: 0;
  color: white;
}

.subheading {
  color: #474b4f;
  font-style: italic;
}

button,
textarea,
input,
select {
  outline: none;
}

body {
  padding: 0;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/*# sourceMappingURL=style.css.map */